.heading{
    text-align: center;
    color: white;
    padding: 8px;
    border: 8px;
    font-family: hack, sans-serif;
    border-radius: 25px;
}
.h1 {
    background-color: royalblue;
    margin: 16px auto;
    padding: 20px;
    width: 500px;
}
.h2{
    color: black;
    background-color: yellow;
    margin: 4px auto;
    width: 500px;
}

